<ion-view view-title="Alterar Senha">
    <ion-content>

        <my-network-alert></my-network-alert>

        <form name="my_form" ng-submit="doSubmit()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nova Senha</span>
                    <input
                        minlength="5"
                        maxlength="24"
                        type="password"
                        ng-model="form.password"
                        required>
                    <p class="text-muted">Deverá conter no mínimo 5 caracteres e no máximo 24</p>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Confirmar Nova Senha</span>
                    <input type="password" ng-model="form.confirm_new_password" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Senha Atual</span>
                    <input type="password" ng-model="form.current_password" required>
                </label>
            </div>
            <div class="padding">
                <button
                    ng-disabled="my_form.$pristine|| my_form.$invalid"
                    type="submit"
                    class="button button-assertive button-block">
                    Confirmar Alteração
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
