<ion-view view-title="Médicos Encontrados">
    <ion-nav-buttons side="right">
        <!-- <button
            ng-if="ficha"
            class="button button-icon ion-ios-close-empty"
            ng-click="clearCheckboxes()">
        </button> -->
        <!-- <button
            ng-if="ficha"
            class="button button-icon icon ion-ios-more"
            ng-click="openModal()">
        </button> -->
    </ion-nav-buttons>
    <ion-content class="">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
        <div class="padding text-center">
            <span class="label label-default" ng-repeat="label in labels">
                {{label}}
            </span>
        </div>
        <ion-list>
            <medico-list-item
                ng-repeat="medico in medicos"
                medico="medico"
                base-url-perfil="'medico-perfil'">
            </medico-list-item>
        </ion-list>
    </ion-content>
</ion-view>
