<ion-view view-title="Registrar">
    <ion-nav-bar class="bar-app">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email</span>
				<input type="email" placeholder="">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Dt. de Nascimento</span>
				<input type="date" placeholder="">
			</label>
			<div class="item item-divider">
				Sexo
			</div>
			<label class="item item-radio">
				<input type="radio" name="sexo">
				<div class="item-content">
					Masculino
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="sexo">
				<div class="item-content">
					Feminino
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
		<div class="padding">
			<button class="button button-assertive button-block">
				Cadastrar-se
			</button>
		</div>
    </ion-content>
</ion-view>
