<ion-view view-title="Favoritos">
    <ion-nav-buttons side="right">
        <button
            button="type"
            class="button button-icon ion-search"
            ng-click="openModal()">
        </button>
    </ion-nav-buttons>

    <ion-content class="custom-bg ">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>

        <ion-list>
            <span ng-repeat="(letra, medicos) in medicosByLetra">
                <ion-item class="item-divider" ng-show="medicos">
                    {{letra}}
                </ion-item>
                <span ng-repeat="medico in medicos">
                    <medico-list-item
                        medico="medico"
                        base-url-perfil="'medico-perfil-favoritos'">
                    </medico-list-item>
                </span>
            </span>
        </ion-list>

    </ion-content>
</ion-view>
