<ion-view view-title="Histórico">
    <ion-nav-buttons side="right">
        <!-- <button
            ng-if="ficha"
            class="button button-icon ion-ios-close-empty"
            ng-click="clearCheckboxes()">
        </button> -->
        <!-- <button
            ng-if="ficha"
            class="button button-icon icon ion-ios-more"
            ng-click="openModal()">
        </button> -->
    </ion-nav-buttons>

    <ion-content class="custom-bg has-tabs-top">
        <ion-refresher
            ng-if="!loading"
            pulling-text="Puxe para atualizar..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <my-network-alert></my-network-alert>

        <div class="text-center padding" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>

        <ion-list>
            <medico-list-item
                ng-repeat="medico in medicos"
                medico="medico"
                base-url-perfil="'medico-perfil-historico'">
            </medico-list-item>
        </ion-list>

    </ion-content>
</ion-view>
