<ion-view view-title="Opções">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                Conta
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#">
                    <span class="icon ion-edit" style="font-size: 18px;"></span>
                </a>
                Daniel de Faria Pedro
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#">
                    <span class="icon ion-edit" style="font-size: 18px;"></span>
                </a>
                danielfpedro@gmail.com
            </ion-item>
            <ion-item href="#/app/alterar-senha">
                Alterar Senha
            </ion-item>
            <ion-item class="item-divider">
                Outros
            </ion-item>
            <ion-item href="#/logout">
                Sair
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
